<h3>Cars disponibles para comprar</h3>
<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New car", new_car_path %>
