<h2>Cars disponibles para comprar<h2>
<div>
<% @cars.each do |car|%>
    <hr>
    <label> Marca </label>
    <h6><%= car.brand%></h6>
    </label> Modelo </label>
    <h6><%= car.model%></h6>
    </label> Precio </label>
    <h6><%= car.price%></h6>
    </hr>
<% end %>
</div>
    
<%= link_to "New car", new_car_path %>
