<h1>Detalles de auto ingresado</h1>
<strong>marca: <%= @car.brand  %></strong>
</br>
<strong>modelo: <%= @car.model %> </strong>
</br>
<trrong>precio: <%= @car.price %> </strong>
</br>

<%=link_to 'back', cars_path %>